/* For Smaller Desktops (1300px) */

@media (max-width: 81.25em) {
  /*  STYLING HERO SECTION */
  .faded-text {
    font-size: 7.4rem;
    left: -190%;
  }
  /*  STYLING PROJECT SECTION */
  .project-section .container {
    padding: 0.5rem;

    gap: 6.4rem;
  }
  .project-card {
    width: 100%;
    height: 36rem;
  }

  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 4.4rem;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project-2,
  #project-4 {
    margin-left: 0rem;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 3.6rem;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }
  /*  STYLING SKILLS SECTION */
  .skill-faded-text {
    font-size: 9.8rem;
    right: 0;
    top: 100%;
  }
}

/* For Landscape Tablets (1184px) */

@media (max-width: 74em) {
  html {
    font-size: 56.25%;
  }

  /*  STYLING HERO SECTION */
  .hero-heading {
    font-size: 3rem;
  }
  .hero-subheading {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  .hero-description-box {
    max-width: 70%;
  }
  .faded-text {
    font-size: 6.2rem;
    bottom: -36%;
    left: -170%;
  }

  /*  STYLING PROJECT SECTION */
  .page-header {
    font-size: 8.6rem;
  }

  /*  STYLING SKILLS SECTION */
  .skill-faded-text {
    font-size: 6.2rem;
    right: -30px;
    top: 107.5%;
  }

  .skill-heading {
    font-size: 3.6rem;
  }
  .caps {
    font-size: 7.4rem;
  }

  /* <!-- STYLING CONTACT ME SECTION  --> */
  .contactus-heading {
    font-size: 6.2rem;
  }
  .contactus-sub-heading {
    font-size: 2.4rem;
  }

  /* <!-- STYLING FOOTER SECTION  --> */
  .footer-faded-text {
    font-size: 5.2rem;
    left: 40%;
  }
}

/* For  Tablets (944px) */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .faded-text,
  .skill-faded-text,
  .footer-faded-text {
    display: none;
  }

  /*  STYLING HERO SECTION */

  .section-hero .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text-box {
    align-items: center;
    text-align: center;
  }

  /*  STYLING PROJECT SECTION */
  .project-section .container {
    padding-inline: 3.2rem;
  }
  .page-header {
    font-size: 6.2rem;
  }

  /*  STYLING SKILLS SECTION */
  .skills-section .container {
    flex-direction: column;
    row-gap: 9.6rem;
    padding-inline: 3.2rem;
  }
  .skill-text-container,
  .skill-logo-section {
    width: 100%;
  }
  .skill-subHeading {
    font-size: 1.6rem;
  }
  .skills-logo {
    width: 7.4rem;
  }

  /* <!-- STYLING CONTACT ME SECTION  --> */
  .contactus-heading {
    font-size: 5.2rem;
  }
  .contactus-sub-heading {
    font-size: 2rem;
  }
  .contactus-heading,
  .contactus-sub-heading {
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .formfield {
    font-size: 2.4rem;
  }
  .contactme-btn {
    text-align: center;
  }
  #submit-btn {
    font-size: 2rem;
    padding: 1.6rem 8rem;
  }

  /* <!-- STYLING FOOTER SECTION  --> */
  .footer-wrapper {
    flex-direction: column;
    gap: 1.2rem;
    font-size: 2rem;
  }
  .icon-wrapper {
    margin-top: 1.6rem;
    gap: 2.4rem;
  }

  /* mobile navigation */
  .header {
    position: relative;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 9;
  }
  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    z-index: 6;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
    z-index: 9;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    align-items: center;
    flex-direction: column;
    gap: 4.8rem;
    position: absolute;
    left: 30%;
    top: 30%;
  }
  .nav-list a:is(:link, :visited) {
    font-size: 3.2rem;
  }
}

/* For PHONES  (544px) */

@media (max-width: 34em) {
  /*  STYLING HERO SECTION */
  .hero-heading,
  .hero-subheading {
    font-size: 2rem;
  }
  .hero-subheading {
    font-size: 3rem;
  }
  .role {
    margin-top: 1.2rem;
  }
  .hero-description-box {
    max-width: 90%;
  }
  .pink-btn {
    padding: 0.8rem 3.2rem;
  }
  .user-image img {
    width: 100%;
  }

  /*  STYLING PROJECT SECTION */
  .project-card {
    width: 100%;
  }
  .project-section .container {
    padding: 0rem 1.2rem;
  }

  /*  STYLING SKILLS SECTION */
  .skill-subHeading {
    max-width: 100%;
    margin: 0 auto;
  }

  .skills-logo {
    margin-top: 1.2rem;
  }
  /* <!-- STYLING CONTACT ME SECTION  --> */
  .contactme-section .container {
    padding: 2.4rem 0rem;
  }

  .contactus-sub-heading {
    font-size: 1.6rem;
  }
  .contactus-form-container {
    margin-top: 1.6rem;
  }
}
